<% content_for :inNew do %>
	class="here"
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag 'livepipe' %>
	<%= javascript_include_tag 'progressBar' %>
	<%= javascript_include_tag 'uploader' %>
<% end %>

<% content_for :onLoad do %>
	onlaod="onLoad()"
<% end %>

<% content_for :styles do %>
	<%= stylesheet_link_tag 'progressBar'%>
	<%= stylesheet_link_tag 'uploader'%>
<% end %>


<h1 id="heading">New track</h1>
<% form_for(@track, :html => { :multipart => true, :target => 'progressFrame' }, :url => "/tracks?X-Progress-ID=#{@uuid}") do |f| %>
  <%= f.error_messages %>
  
  <%= hidden_field_tag 'X-Progress-ID', @uuid %>
  <%= hidden_field_tag 'track[fileName]', @uuid %>

  <p id="fileUploadPrompt">
  	<label for="upload_file">File</label><br/>
	<%= file_field 'upload', 'datafile', :onChange => 'updateName()' %>
  </p>
  
  <p id="namePrompt">
    <%= f.label :name %><br />
    <%= f.text_field :name, :onKeyUp => 'updateNameDisplay()' %>
  </p>
  
  <p>
    <%= f.submit 'Create', :onclick => 'return startUpload()' %>
  </p>
<% end %>

<div id="progress" style="display:none;">
	<div id="progress_bar"></div>
	<p id="progress_percent"></p>
</div>
 <iframe id="progressFrame" name="progressFrame" style="display:none;"></iframe>