<!--p>
  <b>Id:</b>
  <%=h @track.id %>
</p-->

<p>
  <b>Name:</b>
  <%=h @track.name %>
</p>

<p>
  <b>Uploaded:</b>
  <%=h @track.uploaded %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>